<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }
        .page-item {
            margin: 0;
        }
        .pagination-search-separator {
            margin-top: 20px; /* 페이지네이션과 검색 폼 사이에 여백 추가 */
        }
    </style>
    <!-- 페이지 이동 함수 -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            function page(page) {
                var searchDateType = $("#searchDateType").val();
                var searchBy = $("#searchBy").val();
                var searchQuery = $("#searchQuery").val();

                location.href="/admin/coupons/" + page + "?searchDateType=" + searchDateType
                    + "&searchBy=" + searchBy
                    + "&searchQuery=" + searchQuery;
            }
        </script>
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{'/admin/coupons/' + ${coupons.number}}" role="form" method="get" th:object="${coupons}">
        <table class="table">
            <thead>
            <tr>
                <td>쿠폰아이디</td>
                <td>쿠폰이름</td>
                <td>등록일</td>
<!--                <td>적용대상</td>-->
                <td>등록자</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon, status: ${coupons.getContent()}">
                <td th:text="${coupon.id}"></td>
                <td>
                    <a th:href="'/admin/coupon/'+${coupon.id}" th:text="${coupon.name}"></a>
                </td>
                <td th:text="${coupon.regTime}"></td>
<!--                <td th:text="${coupon.couponType?.displayName}"></td>-->
                <td th:text="${coupon.createdBy}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 현재페이지 -->
        <div class="d-flex justify-content-center my-3" th:if="${!coupons.isEmpty()}">
            <ul class="pagination justify-content-center">
                <!-- 이전 버튼 -->
                <li class="page-item" th:classappend="${pageNumber == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/coupons/__${pageNumber - 1}__}"> <!-- 이전 페이지로 이동 -->
                        <span>이전</span>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="page: ${#numbers.sequence(0, coupons.totalPages - 1)}"
                    th:if="${page >= pageNumber - 2 and page <= pageNumber + 2}"
                    th:classappend="${page == pageNumber} ? 'active'" class="page-item">
                    <a th:text="${page + 1}" class="page-link" th:href="@{/admin/coupons/{page}(page=${page})}"></a>
                </li>

                <!-- 다음 버튼 -->
                <li class="page-item" th:classappend="${!coupons.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{/admin/coupons/__${pageNumber + 1}__}"> <!-- 다음 페이지로 이동 -->
                        <span>다음</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="pagination-search-separator"></div>
        <div class="form-inline d-flex justify-content-center" th:object="${couponSearchDto}">
            <select id="searchDateType" th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select id="searchBy" th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="name">쿠폰이름</option>
                <option value="createdBy">등록자</option>
            </select>
            <input id="searchQuery" th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>

<!-- Bootstrap JS 추가 (필요시) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>
</html>
