<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<th:block layout:fragment="css">
    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }
        .page-item {
            margin: 0;
        }
          .pagination-search-separator {
            margin-top: 20px; /* 페이지네이션과 검색 폼 사이에 여백 추가 */
        }
    </style>
</th:block>


<div layout:fragment="content">
    <form th:action="@{'/admin/coupons/' + ${coupons.number}}" role="form" method="get" th:object="${coupons}">
        <table class="table">
            <thead>
            <tr>
                <td>쿠폰아이디</td>
                <td>쿠폰이름</td>
                <td>등록일</td>
                <td>적용대상</td>
                <td>등록자</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coupon, status: ${coupons.getContent()}">
                <td th:text="${coupon.id}"></td>
                <td>
                    <a th:href="'/admin/coupon/'+${coupon.id}" th:text="${coupon.name}"></a>
                </td>
                <td th:text="${coupon.regTime}"></td>
                <td th:text="${coupon.couponType?.displayName}"></td>
                <td th:text="${coupon.createdBy}"></td>
            </tr>
            </tbody>
        </table>
        <!-- 현재페이지 -->
        <div th:with="start=${(coupons.number/maxPage)*maxPage + 1}, end=(${(coupons.totalPages == 0) ? 1 : (start + (maxPage - 1) < coupons.totalPages ? start + (maxPage - 1) : coupons.totalPages)})">
            <ul class="pagination">
                <li class="page-item" th:classappend="${coupons.first}?'disabled'">
                    <a class="page-link" th:onclick="'javascript:page(' + ${coupons.number - 1} + ')'" aria-label='Previous'>
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${coupons.number eq page-1}?'active':''">
                    <a class="page-link" th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${coupons.last}?'disabled'">
                    <a class="page-link" th:onclick="'javascript:page(' + ${coupons.number + 1} + ')'" aria-label='Next'>
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pagination-search-separator"></div>
        <div class="form-inline d-flex justify-content-center" th:object="${couponSearchDto}">
            <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                <option value="all">전체기간</option>
                <option value="1d">1일</option>
                <option value="1w">1주</option>
                <option value="1m">1개월</option>
                <option value="6m">6개월</option>
            </select>
            <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                <option value="name">쿠폰이름</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
    </form>
</div>

<!-- Bootstrap JS 추가 (필요시) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- 페이지 이동 함수 -->
<script th:inline="javascript">
    function page(page) {
        var searchDateType = $("#searchDateType").val();
        var searchCouponCategory = $("#searchCouponCategory").val();
        var searchBy = $("#searchBy").val();
        var searchQuery = $("#searchQuery").val();

        location.href = "/admin/coupons/" + page + "?searchDateType=" + searchDateType
            + "&searchCouponCategory=" + searchCouponCategory
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
    }
</script>

</html>
