<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">

<footer th:fragment="footer" class="footer">
<!-- Start Footer Area -->
    <!-- Start Footer Top -->
    <!-- 원래 푸터가 있었음 -->
    <!--/ End Footer Top -->

    <!-- Start Copyright Area -->
    <div class="copyright">
        <div class="container">
            <div class="inner-content">
                <div class="info-row">
                    <div class="company-info">
                        <h3>MGR</h3>
                        <p>MGR 팀원 : 박나래, 손혜원, 최영인 | 제작기간 : 총 5주</p>
                        <p>주소 : 경기도 하남시 미사강변동로 85, 힐스테이트에코미사 305, 6, 7, 8호</p>
                    </div>
                    <div class="git-link">
                        <div class="button git-btn" data-wow-delay=".8s">
                            <a href="https://github.com/dashboard">
                                <img src="/img/github-mark-white.png" style="width: 30px;" alt="깃 연결 링크">
                                 Git Hub</a>
                        </div>
                        <p>Email : merrygoride2024@gmail.com</p>
                    </div>
                </div>
                <div class="copyright-text">
                    <p>Copyright © Merry Go Ride. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>


    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>
<!-- End Copyright Area -->
</footer>
</html>