<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MGR</title>

</head>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#">MGR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/login}">로그인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/logout}">로그아웃</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/join}">회원가입</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/board/events}">이벤트/공지</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/member/reservation}">예약내역</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/ticket}">티켓 확인</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/ticket/new}">티켓 등록</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/tickets}">상품 관리</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">family site</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">1</a></li>
                            <li><a class="dropdown-item" href="#">2</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">MGR</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this template</p>
            </div>
        </div>
    </header>
</div>
</html>