<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- css -->
<th:block layout:fragment="css">
    <style>
        .content-mg {
            margin-left: 20%;
            margin-right: 20%;
            margin-top: 2%;
            margin-bottom: 100px;
        }
        h2 {
            text-align: center;
            margin: 10px 0 20px 0;
        }
        .table .profile-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .image-cell {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</th:block>

<!-- js -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        // 추가적인 JavaScript 코드를 여기에 작성할 수 있습니다.
    </script>
</th:block>

<div layout:fragment="content" class="content-mg">
    <h3 class="mb-5 text-center">결제 내역 조회</h3>
    <hr class="my-4">

    <div th:if="${paging.empty}">
        <p>결제 내역이 없습니다.</p>
    </div>
    <div th:if="${not paging.empty}">
        <a th:href="@{/admin/paymentGraph}" class="btn btn-primary mb-4">자세히 보기</a>
        <table class="table">
            <thead>
            <tr>
                <th>회원 이름</th>
                <th>회원 이메일</th>
                <th>주문 날짜</th>
                <th>주문 금액</th>
                <th>쿠폰 할인율</th>
                <th>결제 금액</th>
                <th>인원</th>
                <th>주문 번호</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderListDto, iterStat : ${paging.content}">
                <td th:text="${memberMap[orderListDto.orderNum].name}"></td>
                <td th:text="${memberMap[orderListDto.orderNum].email}"></td>
                <td th:text="${#temporals.format(orderListDto.orderDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#numbers.formatInteger(orderListDto.calculateTotalPrice(), 0, 'COMMA')} + '원'"></td>
                <td th:text="${orderListDto.discountRate} + '%'"></td>
                <td th:text="${#numbers.formatInteger(orderListDto.calculateDiscountedTotalPrice(), 0, 'COMMA')} + '원'"></td>
                <td>
                    <span th:each="ticket : ${orderTicketMap[orderListDto.orderNum]}" th:text="'어른: ' + ${ticket.adultCount} + '명, '"></span>
                    <span th:each="ticket : ${orderTicketMap[orderListDto.orderNum]}" th:text="'어린이: ' + ${ticket.childCount} + '명'"></span>
                </td>
                <td th:text="${orderListDto.orderNum}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link" th:href="@{|~/admin/paymentList/${paging.number - 1}|}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, paging.totalPages > 0 ? paging.totalPages : 1)}"
                th:classappend="${paging.number == i - 1} ? 'active'">
                <a class="page-link" th:href="@{|~/admin/paymentList/${i - 1}|}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link" th:href="@{|~/admin/paymentList/${paging.number + 1}|}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</html>
