<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<!-- css -->
<th:block layout:fragment="css">
    <style>
        .email_ok {
            color: blue;
            display: none;
        }
        .email_already {
            color: red;
            display: none;
        }
        .nickname_ok {
            color: blue;
            display: none;
        }
        .nickname_already {
            color: red;
            display: none;
        }
        .nickname_null {
            color: red;
            display: inline-block;
        }
        .nickname-btn {
            display: none;
        }
        .empty-nickname-btn {
            display: inline-block;
        }
        .empty-password-btn {
            display: inline-block;
        }
        #member-info-password {
            display: none;
        }
        .password_already {
            color: red;
            display: none;
        }
        .errorMessage {
            color: red;
        }
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<!-- js -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            var errorMessage = /*[[${errorMessage}]]*/ '';
            if (errorMessage) {
                alert(errorMessage);
            }
        });

        var prevNickname = "";
        function checkNickname() {
            var nickname = $('#nickname').val();
            prevNickname = nickname;

            $.ajax({
                url: '/member/nicknameCheck',
                type: 'POST',
                data: { nickname: nickname },
                success: function(result) {
                    if (result === 0) {
                        $('.nickname_ok').css("display", "inline-block");
                        $('.nickname_already').css("display", "none");
                    } else {
                        $('.nickname_already').css("display", "inline-block");
                        $('.nickname_ok').css("display", "none");
                        $('#nickname').val(prevNickname);
                    }
                    if (!nickname) {
                        $('.nickname_null').css("display", "inline-block");
                        $('.nickname_ok').css("display", "none");
                        $('.nickname_already').css("display", "none");
                    } else {
                        $('.nickname_null').css("display", "none");
                    }
                }
            });
        };

        function checkPassword() {
            var password = $('#password').val();
            var password2 = $('#password2').val();

            if (!password || !password2 || password.length < 8 || password.length > 16 || password2.length < 8 || password2.length > 16) {
                $('.password_already').css("display", "none");
                $('.empty-password-btn').css("display", "inline-block");
                $('#member-info-password').css("display", "none");
                return;
            }

            $.ajax({
                url: '/member/passwordCheck',
                type: 'POST',
                data: {
                    password: password,
                    password2: password2
                },
                success: function(result) {
                    if (result === 0) {
                        $('.password_ok').css("display", "inline-block");
                        $('.password_already').css("display", "none");
                        $('#member-info-password').css("display", "inline-block");
                        $('.empty-password-btn').css("display", "none");
                    } else {
                        $('.password_already').css("display", "inline-block");
                        $('.password_ok').css("display", "none");
                        $('#member-info-password').css("display", "none");
                        $('.empty-password-btn').css("display", "inline-block");
                    }
                }
            });
        }

        function emptyNickname() {
            var nickname = $('#nickname').val().trim(); // 입력된 닉네임 값 (공백 제거)

            // 닉네임 값이 없거나 공백인 경우
            if (!nickname) {
                $('.empty-nickname-btn').css("display", "inline-block");
                $('.nickname-btn').css("display", "none");
            } else { // 닉네임 값이 있는 경우
                $('.nickname-btn').css("display", "inline-block");
                $('.empty-nickname-btn').css("display", "none");
            }
        };
    </script>
</th:block>

<div layout:fragment="content">

    <form th:action="@{/member/edit}" th:object="${memberInfo}" class="edit-form" role="form" method="POST">
        <h4>회원정보 수정</h4>

        <div>
            <label for="email">이메일</label>
            <input type="text" id="email" name="email" class="form-control"
                   th:value="${memberInfo.email}" readonly>
        </div>
        <div>
            <label for="nickname">닉네임</label>
            <div class="input-group">
                <input type="text" id="nickname" name="nickname" class="form-control"
                       th:value="${memberInfo.nickname}" onkeyup="checkNickname(); emptyNickname();">

                <span class="input-group-btn">
                    <button th:formaction="@{'/member/editNickname/' + ${memberInfo.id}}"
                            class="btn btn-primary nickname-btn" type="submit" id="member-info-edit">닉네임 변경</button>
                    <button class="btn btn-secondary empty-nickname-btn" type="button">닉네임 변경</button>
                </span>
            </div>
            <span class="nickname_ok">사용 가능한 닉네임 입니다</span>
            <span class="errorMessage" th:if="${#fields.hasErrors('nickname')}"
                  th:errors="*{nickname}"></span>
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input class="form-control" name="password" type="password" id="password" th:field="*{password}" onblur="checkPassword()" />
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input class="form-control" name="password2" type="password" id="password2" onkeyup="checkPassword()" />
            <div>비밀번호는 8자 이상, 16자 이하로 입력해주세요</div>
            <div class="password_already">비밀번호가 일치하지 않습니다</div>
        </div>
        <button th:formaction="@{'/member/editPassword/' + ${memberInfo.id}}"
                class="btn btn-primary" type="submit" id="member-info-password">비밀번호 변경</button>
        <button class="btn btn-secondary empty-password-btn" type="button">비밀번호 변경</button>
    </form>
</div>
</html>
