<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<!-- css -->
<th:block layout:fragment="css">
    <style>
        .email_already {
            color: red;
            display: none;
        }
        .nickname_ok {
            color: blue;
            display: none;
        }
        .nickname_already {
            color: red;
            display: none;
        }
        .nickname_null {
            color: red;
            display: none;
        }
        .password_ok {
            color: blue;
            display: none;
        }
        .password_already {
            color: red;
            display: none;
        }
        .password_null {
            color: red;
            display: none;
        }
        .validationError {
            color: red;
        }
        .email-group {
            display: flex;
            align-items: center;
        }
        .email-group input {
            margin-right: 10px;
        }
        .email-group button {
            white-space: nowrap;
        }
        .button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
        }
    </style>
</th:block>

<!-- js -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        var prevEmail = "";
        function checkEmail() {
            var email = $('#email').val(); // #email 에서 입력받은 값 변수 저장
            prevEmail = email;

            $('.email_already').css("display", "none");
            $('.email_error').css("display", "none");

            $.ajax({
                url: '/member/emailCheck', //controller 에서 요청 받을 주소
                type: 'POST',
                data: { email: email },
                success: function(result) {
                    //controller 에서 넘어온 result 값이 1이면 중복
                    console.log("result= " + result)
                    if (result == 0) {
                        $('.email_already').css("display", "none");
                        $('.email_error').css("display", "none");
                    } else {
                        $('.email_already').css("display", "inline-block");
                        $('#email').val(prevEmail);
                    }
                }
            });
        };

        var prevNickname = "";
        function checkNickname() {
            var nickname = $('#nickname').val().trim();
            prevNickname = nickname;

            $.ajax({
                url: '/member/nicknameCheck',
                type: 'POST',
                data: { nickname: nickname },
                success: function(result) {
                    if (result === 0) {
                        $('.nickname_ok').css("display", "inline-block");
                        $('.nickname_already').css("display", "none");
                    } else {
                        $('.nickname_already').css("display", "inline-block");
                        $('.nickname_ok').css("display", "none");
                        $('#nickname').val(prevNickname);
                    }
                    if (!nickname) {
                        $('.nickname_null').css("display", "inline-block");
                        $('.nickname_ok').css("display", "none");
                        $('.nickname_already').css("display", "none");
                    } else {
                        $('.nickname_null').css("display", "none");
                    }
                }
            });
        };

        function checkPassword() {
            var password = $('#password').val();
            var password2 = $('#password2').val();

            $.ajax({
                url: '/member/passwordCheck',
                type: 'POST',
                data: {
                    password: password,
                    password2: password2
                },
                success: function(result) {
                    if (result === 0) {
                        $('.password_ok').css("display", "inline-block");
                        $('.password_already').css("display", "none");
                    } else {
                        $('.password_already').css("display", "inline-block");
                        $('.password_ok').css("display", "none");
                    }
                    if (!password) {
                        $('.password_null').css("display", "inline-block");
                        $('.password_ok').css("display", "none");
                        $('.password_already').css("display", "none");
                    } else {
                        $('.password_null').css("display", "none");
                    }
                }
            });
        }

        function sendEmail() {
            var email = $('#email').val();
            $.ajax({
                url: '/member/sendEmail',
                type: 'GET',
                data: { email: email },
                success: function(result) {
                    alert(result);
                },
                error: function() {
                    alert("이메일 발송 실패했습니다");
                }
            });
        }

        function goBack() {
            window.history.back();
        }

        function setMaxBirthDate() {
            var today = new Date();
            var maxDate = new Date(today.getFullYear() - 7, today.getMonth(), today.getDate());
            var maxDateString = maxDate.toISOString().split('T')[0];
            document.getElementById('birth').setAttribute('max', maxDateString);
        }

        window.onload = function() {
            setMaxBirthDate();
        };
    </script>
</th:block>

<div layout:fragment="content" class="container d-flex flex-column align-items-center my-5">
    <div class="text-center mb-4" style="width: 150px;">
        <img src="/img/login/join.png" alt="회원가입이미지" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>

    <form class="col-md-4" action="/member/create" role="form" th:object="${memberFormDto}" method="POST">
        <div class="mb-3">
            <label th:for="email">이메일</label>
            <div class="email-group">
                <input th:field="*{email}" id="email" class="form-control" type="email" onblur="checkEmail()"/>
                <button class="btn mgrBtn" type="button" id="code-button" onclick="sendEmail()">인증 코드 발송</button>
            </div>
            <span class="email_already">이미 사용중인 이메일 입니다</span>
            <span class="validationError" th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"></span>
        </div>

        <div class="mb-3">
            <label for="code">메일인증 코드</label>
            <input class="form-control" type="text" id="code" th:field="*{code}"/>
            <span class="validationError" th:if="${#fields.hasErrors('code')}"
                  th:errors="*{code}"></span>
            <input type="hidden" name="authCode" th:value="*{authCode}">
        </div>

        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" th:field="*{password}" onblur="checkPassword()"/>
            <span class="validationError" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"></span>
            <span class="nickname_null">비밀번호를 입력하세요</span>
        </div>
        <div class="mb-3">
            <label for="password2">비밀번호 확인</label>
            <input class="form-control" type="password" id="password2" th:field="*{password2}" onblur="checkPassword()"/>
            <span class="password_ok">비밀번호가 일치합니다</span>
            <span class="password_already">비밀번호가 일치하지 않습니다</span>
        </div>

        <div class="mb-3">
            <label for="name">이름</label>
            <input class="form-control" type="text" id="name" th:field="*{name}"/>
            <span class="validationError" th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="nickname">닉네임</label>
            <input class="form-control" type="text" id="nickname" th:field="*{nickname}" onkeyup="checkNickname()"/>
            <span class="nickname_ok">사용 가능한 닉네임 입니다</span>
            <span class="nickname_already">이미 사용중인 닉네임 입니다</span>
            <span class="nickname_null">닉네임을 입력하세요</span>
            <span class="validationError" th:if="${#fields.hasErrors('nickname')}"
                  th:errors="*{nickname}"></span>
        </div>

        <div class="mb-3">
            <label for="birth">생일(선택)</label>
            <input class="form-control" type="date" id="birth" th:field="*{birth}"/>
        </div>

        <div class="button-group">
            <button class="btn mgrBtn" type="submit" id="member-create">가입</button>
            <button class="btn btn-light" type="button" onclick="goBack()">취소</button>
        </div>

    </form>
    <hr class="col-md-4 my-4">

    <div>
        <p>이미 가입된 회원이신가요? · · · · · · · · · · · · · · · · · · <a href="/login">로그인 하러 가기</a></p>
    </div>

</div>
</html>


