<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head>
    <!-- css -->
    <th:block layout:fragment="css">
        <style>
            .sr-only {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
            }

            .modal-dialog {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 100vh; /* Ensures the modal is vertically centered */
            }
        </style>
    </th:block>
</head>

<!-- js -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {
            // 오늘 날짜를 가져오는 함수
            function getTodayDate() {
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); // 1월은 0부터 시작하므로 +1
                var yyyy = today.getFullYear();
                return yyyy + '-' + mm + '-' + dd;
            }

            // 시작일(input id="startDate")의 값을 오늘 날짜로 설정
            $('#startDate').val(getTodayDate());
            $('#startDate').attr("min",getTodayDate());

            var startDate = $('#startDate').val();
            $('#endDate').attr("min",startDate);

            $('#startDate').on('change', function() {
                var startDate = $(this).val();
                $('#endDate').attr("min", startDate);
            });

            // 파일 선택 이벤트 핸들러
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                if (fileName === '') {
                    showAlert("파일을 선택해주세요."); // 파일을 선택하지 않았을 때 알림 창 표시
                    return;
                }

                // 파일 확장자를 가져옵니다.
                var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1).toLowerCase();

                // 이미지 파일 확장자인지 확인합니다.
                if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                    // 이미지 파일이 아니면 오류를 표시합니다.
                    showAlert("이미지 파일만 등록이 가능합니다.");
                    // 파일 선택 초기화
                    $(this).val('');
                    $(this).siblings(".custom-file-label").html('파일을 선택해주세요');
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });

            $("form").submit(function(event) {
                event.preventDefault();  // 기본 제출 동작을 막음
                var form = $(this);
                var formData = new FormData(form[0]);  // 폼 데이터를 FormData 객체로 직렬화하여 전송

                $.ajax({
                    type: form.attr('method'),   // POST, GET 등
                    url: form.attr('action'),   // 요청 URL
                    data: formData,   // 직렬화된 폼 데이터
                    contentType: false,   // 데이터 타입 설정 안 함
                    processData: false,   // 데이터를 query string으로 변환 안 함
                    success: function(response) {
                        showAlert(response.message);   // 성공적인 메시지 표시
                        window.location.replace("/board/events");   // 성공 시 페이지 이동
                    },
                    error: function(xhr, status, error) {
                        if (xhr.status === 400) {
                            var response = JSON.parse(xhr.responseText);
                            showAlert(response.message);  // 오류 메시지 표시
                            focusField(response.field);   // 필드에 포커스를 맞춤
                        } else if (xhr.status === 404) {
                            showAlert("이벤트를 찾을 수 없습니다.");
                        } else if (xhr.status === 500) {
                            showAlert("서버 오류: " + xhr.responseText);   // 서버 오류 메시지 표시
                        } else {
                            showAlert("오류 발생: " + xhr.status + " " + xhr.statusText);   // 기타 오류 처리
                        }
                    }
                });
            });
        });

        // 오류 메시지를 표시하는 함수
        function showAlert(message) {
            $('#errorModal').modal('show'); // 모달 열기
            $('#errorMessage').text(message); // 오류 메시지 설정
            $('#screenReaderMessage').text(message).attr('role', 'alert'); // 스크린 리더 메시지 설정
            $('#errorModal').on('click', 'button[data-dismiss="modal"]', function () {
                $('#errorModal').modal('hide'); // 모달 닫기
            });
        }

        // 필드에 포커스를 맞추는 함수
        function focusField(fieldName) {
            var field = $("[name='" + fieldName + "']");
            if (field.length > 0) {
                field.focus();
            }
        }

            function updateLiveRegion(inputId, value) {
        const liveRegion = document.getElementById('liveRegion');
        liveRegion.textContent = `${document.querySelector('label[for="' + inputId + '"]').textContent}는 ${value}로 선택되었습니다.`;
    }

    </script>
</th:block>

<div layout:fragment="content" class="container my-5">

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="errorMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="screenReaderMessage" class="sr-only" role="alert"></div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form role="form" method="POST" th:object="${eventBoardFormDto}" enctype="multipart/form-data" onsubmit="return validateForm();">
                <h3 class="mb-5 text-center" aria-label="이벤트 등록 게시판" tabindex="0">이벤트 등록</h3>

                <div class="form-group mb-3">
                    <label th:for="type" class="mb-1">게시글 타입</label>
                    <select th:field="*{type}" class="form-control">
                        <option value="" disabled selected>선택하세요</option>
                        <option value="EVENT">EVENT</option>
                        <option value="NOTICE">NOTICE</option>
                    </select>
                    <span th:errors="*{type}"></span>
                </div>

                <div class="form-group mb-3">
                    <label th:for="title" class="mb-1">제목</label>
                    <input id="titleInput" th:field="*{title}" class="form-control" type="text" aria-label="제목" oninput="updateAriaLabel()" />
                    <p id="titleError" class="titleError" th:text="${errors}"></p>
                </div>

                <div class="form-group mb-3">
                    <label th:for="content" class="mb-1">내용</label>
                    <textarea name="content" th:field="*{content}" class="form-control"></textarea>
                    <p class="contentError" th:text="${errors}"></p>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="startDate" class="mb-1">게시시작 일자</label>
                            <input class="form-control" name="startDate" type="date" id="startDate" th:field="*{startDate}" aria-label="게시시작 일자" aria-live="polite" onchange="updateLiveRegion('startDate', this.value)"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="endDate" class="mb-1">게시종료 일자</label>
                            <input class="form-control" type="date" id="endDate" th:field="*{endDate}" aria-label="게시종료 일자" aria-live="polite" onchange="updateLiveRegion('endDate', this.value)"/>
                        </div>
                    </div>
                </div>

                <div id="liveRegion" class="sr-only" aria-live="polite"></div>

                <!--        이미지 등록 시작-->
                <div class="form-group mb-3">
                    <div th:if="${#lists.isEmpty(eventImgDtoList)}">
                        <div class="form-group mb-3">
                            <input type="file" class="custom-file-input form-control" name="eventImgFile" required>
                        </div>
                    </div>
                    <div th:if="${not #lists.isEmpty(eventImgDtoList)}">
                        <div class="form-group" th:each="eventBoardFormDto, status: ${eventBoardFormDto.eventImgDtoList}">
                            <div class="form-group mb-3">
                                <input type="file" class="custom-file-input form-control" name="eventImgFile" required>
                                <label class="custom-file-label" th:text="${not #strings.isEmpty(eventImgDtoList.imgOriName)} ? ${eventImgDtoList.imgOriName} : '상품이미지' + ${status.index+1}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--        이미지 등록 끝-->

                <div>
                    <button th:if="${eventBoardFormDto.id == null}" th:formaction="@{/board/eventBoard/new}" class="btn btn-primary" type="submit" id="eventBoard-create">등록</button>

                    <button th:if="${eventBoardFormDto.id != null}" th:formaction="@{/board/eventBoard/edit/{id}(id=${eventBoardFormDto.id})}" class="btn btn-primary" type="submit" id="eventBoard-edit">수정완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
