<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>
<div layout:fragment="content" class="container my-3">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/qna/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getName() == question.author.name}"
                   th:text="수정"></a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/qna/question/delete/${question.id}|}"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getName() == question.author.name}"
                   th:text="삭제"
                   onclick="deleteQuestion(event)">
                </a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}" >
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/admin/qna/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getName() == answer.author.name}"
                   th:text="수정"></a>
                <a href="#" class="delete btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/admin/qna/answer/delete/${answer.id}|}"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getName() == answer.author.name}"
                   th:text="삭제"
                   onclick="deleteQuestion(event)">
                </a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 -->

    <form th:action="@{|/admin/qna/answer/create/${question.id}|}" th:object="${qnaAnswerForm}" method="post" class="my-3" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <div th:replace="board/qna/form_errors :: formErrorsFragment"></div>
        <textarea th:field="*{content}" class="form-control" rows="5"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

</div>
<script layout:fragment="script" type='text/javascript'>
    function deleteQuestion(event) {
        event.preventDefault(); // 기본 동작인 링크 이동을 방지합니다.
        if (confirm("정말로 삭제하시겠습니까?")) {
            const uri = event.target.getAttribute('data-uri'); // 버튼의 data-uri 속성 값 가져오기
            location.href = uri; // URI로 이동
        }
    }
</script>
</body>
</html>