<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<th:block layout:fragment="css">
    <style>
        input[type="radio"] + label,
        input[type="checkbox"] + label {
            border: 1px solid #ccc; /* 기본 회색 테두리 */
        }

        input[type="radio"]:checked + label,
        input[type="checkbox"]:checked + label {
            border-width: 2px; /* 선택된 경우 테두리 두께를 두 배로 증가 */
            border-color: #F20487; /* 선택된 경우 핑크색 테두리로 변경 */
        }
        .btn-label-spacing {
            margin: 0 10px 10px 0; /* 원하는 만큼 여백을 추가하세요 */
        }
        p {
            margin: 10px 0;
        }
        /* 달력 크기 조정 */
        #datepicker {
            width: 300px; /* 너비를 300px로 설정 */
            height: 300px; /* 높이를 300px로 설정 */
            font-size: 1.2em; /* 폰트 크기를 1.2em으로 설정 */
        }

        /* 달력 내부 폰트 크기 조정 */
        .ui-datepicker {
            width: 100%; /* 너비를 100%로 설정 */
            height: 100%; /* 높이를 100%로 설정 */
            font-size: inherit; /* 폰트 크기를 상속 */
        }

        .btnSave{
            background-color: #101130;
            border-color: #101130;
            color: #fff;
        }
        .btnSave:hover {
            background-color: #f20487;
            border-color: #f20487;
            color: #fff;
        }
    </style>
</th:block>
<body>
<div layout:fragment="content" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="mb-5 text-center">동행 구하기</h3>
            <form id="add_member_form" th:object="${goWithBoardFormDto}"
                  th:action="${goWithBoardFormDto.id} == null ? @{/goWithBoard/create} : @{/goWithBoard/modify/{id}(id=${goWithBoardFormDto.id})}"
                  method="post" enctype="multipart/form-data">
                <hr/>
                <div class="d-flex justify-content-center mb-5">
                    <div class="text-center">
                        <p>방문하실 날짜를 선택하세요!</p>
                        <div id="datepicker" class="text-center"></div>
                        <input type="hidden" th:field="*{wantDate}" id="wantDate">
                    </div>
                </div>
                <hr/>
                <div>
                    <div class="d-flex justify-content-center">
                        <p class="me-3">이용하실 지점을 선택하세요!</p>
                        <input type="radio" class="btn-check" name="locationCategory" id="locationOption1" th:field="*{locationCategory}" value="BUSAN" autocomplete="off">
                        <label class="btn btn-label-spacing" for="locationOption1">부산</label>
                        <input type="radio" class="btn-check" name="locationCategory" id="locationOption2" th:field="*{locationCategory}" value="SEOUL" autocomplete="off">
                        <label class="btn btn-label-spacing" for="locationOption2">서울</label>
                    </div>
                </div>
                <hr/>
                <div>
                    <p>선호하는 나이대를 선택해보세요!</p>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption1" th:field="*{ageCategory}" value="NOMATTER" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption1">상관없음</label>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption2" th:field="*{ageCategory}" value="TEENAGER" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption2">10대</label>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption3" th:field="*{ageCategory}" value="TWENTYTOTHIRTY" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption3">20대 - 30대</label>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption4" th:field="*{ageCategory}" value="THIRTYTOFORTY" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption4">30대 - 40대</label>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption5" th:field="*{ageCategory}" value="FORTYTOFIFTY" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption5">40대 - 50대</label>
                    <input type="radio" class="btn-check" name="ageCategory" id="ageOption6" th:field="*{ageCategory}" value="OVERFIFTY" autocomplete="off">
                    <label class="btn btn-label-spacing" for="ageOption6">50대 이상</label>
                </div>
                <hr/>
                <div class="form-group mb-3">
                    <label for="title" class="mb-1">제목</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title">
                </div>

                <div class="form-group mb-5">
                    <label for="content" class="mb-1">내용</label>
                    <textarea th:field="*{content}" class="form-control" rows="10" id="content"></textarea>
                </div>
                <hr/>

                <div class="form-group mb-3">
                    <label for="attractionTypes" class="mb-3">어트랙션 취향을 선택해보세요!</label>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row flex-wrap">
                                <div th:each="attractionType : ${attractionTypes}" th:if="${attractionType.name != ''}" class="me-2 mb-2">
                                    <input type="checkbox" class="btn-check" name="attractionTypes" th:id="'attractionType' + ${attractionType.name}" th:value="${attractionType.name}" autocomplete="off">
                                    <label class="btn" th:for="'attractionType' + ${attractionType.name}" th:text="${attractionType.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group mb-3">
                    <label for="afterTypes" class="mb-3">즐거운 동행을 마치고, 당신의 다음 스텝은?</label>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row flex-wrap">
                                <div th:each="afterType : ${afterTypes}" th:if="${afterType.name != ''}" class="me-2 mb-2">
                                    <input type="checkbox" class="btn-check" name="afterTypes" th:id="'afterType' + ${afterType.name}" th:value="${afterType.name}" autocomplete="off">
                                    <label class="btn" th:for="'afterType' + ${afterType.name}" th:text="${afterType.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group mb-3">
                    <label for="personalities" class="mb-3">성격에 맞는 키워드를 선택해주세요!</label>
                    <div class="row">
                        <div class="col">
                            <div class="d-flex flex-row flex-wrap">
                                <div th:each="personality : ${personalities}" th:if="${personality.name != ''}" class="me-2 mb-2">
                                    <input type="checkbox" class="btn-check" name="personalities" th:id="'personality' + ${personality.name}" th:value="${personality.name}" autocomplete="off">
                                    <label class="btn" th:for="'personality' + ${personality.name}" th:text="${personality.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>

                <div id="imageUploadContainer" class="form-group mb-3">
                    <label class="form-group mb-3">이미지 업로드하기</label>
                    <input type="file" class="form-control goWithImgFile" name="goWithImgFile" id="fileInput0">
                    <input type="file" class="form-control goWithImgFile" name="goWithImgFile" id="fileInput1" style="display: none;">
                    <input type="file" class="form-control goWithImgFile" name="goWithImgFile" id="fileInput2" style="display: none;">
                    <input type="file" class="form-control goWithImgFile" name="goWithImgFile" id="fileInput3" style="display: none;">
                    <input type="file" class="form-control goWithImgFile" name="goWithImgFile" id="fileInput4" style="display: none;">
                </div>
                <div class="text-center">
                    <input type="submit" value="저장하기" class="btnSave btn my-2">
                    <a class="btn btn-light mx-2 my-2" href="/goWithBoard/list">취소</a>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {
            // 오류 메시지 처리
            var errorMessage = /*[[${errorMessage}]]*/ '';
            if (errorMessage != null && errorMessage !== '') {
                showAlert(errorMessage);
            }

            // 달력 초기화
            $("#datepicker").datepicker({
                minDate: 0, // 오늘부터 선택 가능
                onSelect: function(dateText) {
                    // 선택한 날짜를 wantDate 변수에 할당
                    $("#wantDate").val(dateText);
                }
            });

            // 페이지 로드 시 오늘 날짜를 wantDate 변수에 할당
            var today = $.datepicker.formatDate('yy-mm-dd', new Date());
            $("#wantDate").val(today);

            // 이미지 입력란 변경 시 동작
            $('.goWithImgFile').change(function() {
                // 다음 이미지 입력란 토글
                $(this).nextAll('input[type=file]').first().toggle();
                // 파일 확장자 검사
                validateFileExtension(this);
            });
        });

        // 이미지 파일 선택 이벤트 핸들러
        function validateFileExtension(input) {
            var fileName = $(input).val().split("\\").pop();
            if (fileName === '') {
                alert("파일을 선택해주세요."); // 파일을 선택하지 않았을 때 알림 창 표시
                return;
            }

            // 파일 확장자를 가져옵니다.
            var fileExt = fileName.substring(fileName.lastIndexOf(".") + 1).toLowerCase();

            // 이미지 파일 확장자인지 확인합니다.
            if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
                // 이미지 파일이 아니면 오류를 표시합니다.
                alert("이미지 파일만 등록이 가능합니다.");
                // 파일 선택 초기화
                $(input).val('');
                return;
            }
        }
    </script>
</th:block>
</body>
</html>