<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* 일반적인 스타일링 */
        .card {
            border: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            margin-bottom: 20px;
        }

        .btn-outline-secondary {
            color: #6c757d;
            border-color: #6c757d;
        }

        .btn-outline-secondary:hover {
            background-color: #6c757d;
            color: #fff;
        }

        /* 이미지 갤러리 스타일링 */
        .image-wrapper {
            max-height: 300px;
            max-width: 100%;
            overflow: hidden;
        }

        .image-wrapper img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div layout:fragment="content" class="container my-5">
    <div th:if="${error}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-5 text-center boardTitle" th:text="${goWithBoardForm.title}"></h3>

            <!-- 작성자 프로필 및 날짜 -->
            <div class="d-flex align-items-center justify-content-start">
                <img th:if="${goWithBoardForm.memberProfileImgUrl != null}" th:src="${goWithBoardForm.memberProfileImgUrl}" class="rounded-circle ms-3" width="40" height="40">
                <img th:if="${goWithBoardForm.memberProfileImgUrl == null}" src="/img/unicorn.png" class="rounded-circle ms-3" width="40" height="40">
                <div class="d-flex flex-column ms-2">
                    <div class="d-flex align-items-center">
                        <span th:text="${goWithBoardForm.memberName}" class="userNick"></span>
                        <span class="ms-2" th:if="${goWithBoard.modifiedDate == null}" th:text="${#temporals.format(goWithBoard.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <span class="ms-2" th:if="${goWithBoard.modifiedDate != null}" th:text="${#temporals.format(goWithBoard.modifiedDate, 'yyyy-MM-dd HH:mm')} + ' 수정됨'"></span>
                    </div>
                </div>
            </div>

            <!-- 이미지 갤러리 -->
            <div class="my-3">
                <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
                    <div th:each="goWithImage, iterStat : ${goWithBoardForm.goWithImgDtoList}" class="col mb-3 d-flex justify-content-center align-items-center">
                        <a th:if="${not #strings.isEmpty(goWithImage.imgUrl)}" href="${goWithImage.imgUrl}" data-lightbox="gallery">
                            <div class="image-wrapper">
                                <img th:src="${goWithImage.imgUrl}" class="rounded mx-auto d-block align-center">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- 글 내용 -->
            <div class="goWith-content">
                <div class="card my-3">
                    <div class="card-body">
                        <div class="card-text" th:utext="${@commonUtil.markdown(goWithBoardForm.content)}"></div>
                    </div>
                    <hr>
                    <div class="my-3">
                        <a th:href="@{/goWithBoard/list}" class="btn btn-sm btn-outline-secondary">목록으로</a>
                        <a th:href="@{|/startChat/${goWithBoard.id}/${goWithBoard.member.nickname}|}" class="btn btn-primary my-2"
                           sec:authorize="isAuthenticated()"
                           th:unless="${goWithBoard.member != null and #authentication.getPrincipal().getName() == goWithBoard.member.name}"
                           th:text="채팅하기"></a>
                        <a th:href="@{|/goWithBoard/modify/${goWithBoard.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${goWithBoard.member != null and #authentication.getPrincipal().getName() == goWithBoard.member.name}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" class="delete btn btn-sm btn-outline-secondary"
                           th:data-uri="@{|/goWithBoard/delete/${goWithBoard.id}|}"
                           sec:authorize="isAuthenticated()"
                           th:if="${goWithBoard.member != null and #authentication.getPrincipal().getName() == goWithBoard.member.name}"
                           th:text="삭제" onclick="deleteQuestion(event)">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 댓글 섹션 -->
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(goWithBoard.commentList)}개의 댓글이 있습니다.|"></h5>
            <!-- 댓글 반복 시작 -->
            <div class="card my-3" th:each="goWithComment : ${goWithBoard.commentList}">
                <div class="card-body">
                    <div class="card-text" th:utext="${@commonUtil.markdown(goWithComment.content)}"></div>
                    <div class="d-flex justify-content-end">
                        <div th:if="${goWithComment.modifiedDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">수정일</div>
                            <div th:text="${#temporals.format(goWithComment.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${goWithBoard.author != null}" th:text="${goWithBoard.author.nickname}"></span>
                            </div>
                            <div th:text="${#temporals.format(goWithComment.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a th:href="@{|/goWith/comment/modify/${goWithComment.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${goWithComment.member != null and #authentication.getPrincipal().getName() == goWithComment.member.name}"
                           th:text="수정"></a>
                        <a href="javascript:void(0);" th:data-uri="@{|/goWith/comment/delete/${goWithComment.id}|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${goWithComment.member != null and #authentication.getPrincipal().getName() == goWithComment.member.name}"
                           th:text="삭제" onclick="deleteQuestion(event)"></a>
                    </div>
                </div>
            </div>
            <!-- 답변 폼 -->
            <form th:action="@{|/goWith/comment/create/${goWithBoard.id}|}" th:object="${goWithCommentFormDto}" method="post" class="container my-5">
                <div th:replace="board/goWith/form_errors :: formErrorsFragment"></div>
                <textarea th:field="*{content}" class="form-control" rows="5"></textarea>
                <input type="submit" value="답변등록" class="btn btn-primary my-2">
            </form>
        </div>
    </div>
</div>

<script layout:fragment="script" type='text/javascript'>
    function deleteQuestion(event) {
        event.preventDefault(); // 기본 동작인 링크 이동을 방지합니다.
        if (confirm("글을 삭제하시겠습니까?")) {
            const uri = event.target.getAttribute('data-uri'); // 버튼의 data-uri 속성 값 가져오기
            location.href = uri; // URI로 이동
        }
    }
</script>
</body>
</html>
