<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>

</head>

<div layout:fragment="content">


    <h1>Chat Room</h1>
    <div id="messageArea"></div>
    <form onsubmit="sendMessage(event)">
        <input type="text" id="userInput" placeholder="메세지를 입력하세요" autocomplete="off" required/>
        <button type="submit">Send</button>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var socket = new SockJS('/ws');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                showMessage(JSON.parse(message.body));
            });
        });

        function sendMessage(event) {
            var messageContent = document.querySelector("#userInput").value.trim();
            var memberId = [[${session.member?.id}]];
            if (messageContent && stompClient) {
                var chatMessage = {
                    from: memberId,
                    text: messageContent
                };
                stompClient.send("/app/chat", {}, JSON.stringify(chatMessage));
                document.querySelector("#userInput").value = '';
            }
            event.preventDefault();
        }

        function showMessage(message) {
            var messageElement = document.createElement('div');
            messageElement.appendChild(document.createTextNode(message.from + ": " + message.text));
            document.getElementById('messageArea').appendChild(messageElement);
        }
        /*]]>*/
    </script>

</div>


</html>