<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
  <link rel="stylesheet" type="text/css" href="/css/toss_style.css" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>토스페이먼츠 샘플 프로젝트</title>
  <!-- 결제위젯 SDK 추가 -->
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>

<body>
<!-- 모달 창 -->
<div id="payment-modal" class="modal">
  <div class="modal-content">

    <!-- 모달 내용 -->
    <!-- 결제 UI -->
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <div style="padding: 0 30px 20px;">
      <p>티켓 결제 내역</p>
      <!-- 주문서 내용 -->
      <div th:each="orderTicket : ${orderTickets}">
        <span th:text="'방문예정일 : ' + ${orderTicket.visitDate}"></span><br/>
        <span th:text="'[' + ${orderTicket.locationCategory.displayName} + '점] ' + ${orderTicket.name}"></span>
        <!-- [지점] 티켓 이름 -->
        <span th:text="'성인 티켓 : ' + ${orderTicket.adultCount} + '장 ' + ${#numbers.formatInteger((orderTicket.adultPrice) * (orderTicket.adultCount), 0, 'COMMA')} + '원 | ' + '아동 티켓 : ' + ${orderTicket.childCount} + '장 ' + ${#numbers.formatInteger((orderTicket.childPrice) * (orderTicket.childCount), 0, 'COMMA')} + '원'"></span>
        <hr/>
      </div>
      <!-- 주문서 정보 -->
      <div>
        총 주문건수: <span th:text="${#lists.size(orderTickets)}"></span> 건
      </div>
      <div>
        총 결제금액: <span th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA')}"></span> 원
      </div>
    </div>
    <!-- 쿠폰 체크박스 -->
    <label for="couponSelect" style="padding-left: 30px;">사용 가능 쿠폰 </label>
    <select name="couponSelect" id="couponSelect" onchange="getSelectedCoupon()" style="height: 30px;">
      <option value="0" th:data-discount-rate="0" selected>선택 안 함</option>
      <option th:each="coupon : ${memberCouponList}" th:value="${coupon.id}" th:data-discount-rate="${coupon.discountRate}" th:text="${coupon.name + ' - ' + coupon.discountRate + '% 할인'}"></option>
    </select>
<!--    <div style="text-align: center; font-size: 18px;">-->
<!--      총 주문금액: <span id="totalPrice" th:text="${totalPrice}"></span> 원-->
<!--    </div>-->
    <div style="padding: 10px 0 0 30px; font-size: 18px;">
      할인 적용 후 금액: <span id="discountedPrice"></span>
    </div>
    <!-- 결제하기 버튼 -->
    <button class="button" id="payment-button" style="display: block; margin: 30px auto 0;" disabled>결제하기</button>
  </div>
</div>

<!-- 스타일 및 모달 JavaScript -->
<style>
  /* 모달 스타일 */
  .modal {
    display: none; /* 기본적으로 모달 숨김 */
    position: fixed; /* 고정 위치 */
    z-index: 1; /* 모달이 다른 요소 위에 올라가도록 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하도록 */
    background-color: rgba(0,0,0,0.4); /* 반투명한 검은 배경 */
  }

  .modal-content {
    background-color: #fefefe; /* 모달 배경색 */
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 모달 너비 */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* 그림자 효과 */
  }
</style>

<script th:inline="javascript">
  // 페이지 로드 시 모달 열기
  window.onload = function() {
    document.getElementById('payment-modal').style.display = 'block';
  };

  const button = document.getElementById("payment-button");
  const couponSelect = document.getElementById("couponSelect");

  let couponId = 0;
  let couponDiscountRate = 0;

function getSelectedCoupon() {
    couponId = parseInt(couponSelect.value || 0); // 선택하지 않았을 때 기본값으로 0 설정
    couponDiscountRate = parseInt(couponSelect.options[couponSelect.selectedIndex].getAttribute("data-discount-rate") || 0); // 선택하지 않았을 때 기본값으로 0 설정
    console.log("Selected Coupon Id: " + couponId);
    console.log("Selected Coupon Discount Rate: " + couponDiscountRate);
    updatePrice();
}

  const generateRandomString = () => window.btoa(Math.random()).slice(0, 20);

  var orderNum = /*[[${orderNumList[0]}]]*/;
  var orderQuantity = /*[[${#lists.size(orderNumList)}]]*/;
  console.log("Order Number: " + orderNum);
  var amount = /*[[${totalPrice}]]*/;
  var product = /*[[${orderTickets[0].name}]]*/;
  var RTOrderId = /*[[${orderTickets[0].orderId}]]*/;
  console.log("RTOrderId = " + RTOrderId);

  // ------  결제위젯 초기화 ------
  // TODO: clientKey는 개발자센터의 결제위젯 연동 키 > 클라이언트 키로 바꾸세요.
  // TODO: 구매자의 고유 아이디를 불러와서 customerKey로 설정하세요. 이메일・전화번호와 같이 유추가 가능한 값은 안전하지 않습니다.
  // @docs https://docs.tosspayments.com/reference/widget-sdk#sdk-설치-및-초기화
  const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
  const customerKey = generateRandomString();
  const paymentWidget = PaymentWidget(clientKey, customerKey); // 회원 결제
  // const paymentWidget = PaymentWidget(clientKey, PaymentWidget.ANONYMOUS); // 비회원 결제

  // ------  결제 UI 렌더링 ------
  // 쿠폰 적용 전에 초기 가격으로 설정
  var initialAmount = amount;

  paymentMethodWidget = paymentWidget.renderPaymentMethods(
  "#payment-method",
  { value: initialAmount }, // 쿠폰 적용 전의 초기 가격
  { variantKey: "DEFAULT" }
  );

  paymentWidget.renderAgreement("#agreement", { variantKey: "AGREEMENT" });

  //  ------  결제 UI 렌더링 완료 이벤트 ------
  paymentMethodWidget.on("ready", function () {
    button.disabled = false;
    couponSelect.disabled = false;
    updatePrice(); // 페이지 로드 시 할인 적용 후 금액의 기본값 설정
  });

  // ------  결제 금액 업데이트 ------
  function updatePrice() {
    const discountedAmount = amount - (amount * couponDiscountRate / 100);
    const formattedDiscountedAmount = numberWithCommas(discountedAmount); // 콤마(,) 추가
    const discountedPriceElement = document.getElementById("discountedPrice");
    discountedPriceElement.textContent = formattedDiscountedAmount + " 원";
    paymentMethodWidget.updateAmount(discountedAmount);
  }

  // 콤마(,)를 추가하는 함수
  function numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
  }

  // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
  button.addEventListener("click", function () {
    // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
    // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
    paymentWidget.requestPayment({
      orderId: orderNum,
      orderName: product + "외 " + (orderQuantity-1) + " 건",
      couponId: couponId, // 쿠폰 ID 추가,
      successUrl: window.location.origin + "/success/" + RTOrderId + /cp/ + couponId,
      failUrl: window.location.origin + "/fail",
    });
  });
</script>
</body>
</html>
