<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="script">
    <!--스크립트-->
    <script th:inline="javascript">
        $(document).ready(function() {
            /* 성공 메시지 처리 */
            var successMessage = /*[[${successMessage}]]*/ '[[${successMessage}]]';
            if (successMessage) {
                alert(successMessage);
            }

            /* 오류 메시지 처리 */
            var errorMessage = /*[[${errorMessage}]]*/ '[[${errorMessage}]]';
            if (errorMessage) {
                alert(errorMessage);
            }

            bindDomEvent();
        });


        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/admin/tickets/" + page + "?searchDateType=" + searchDateType
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }
</script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        select{
            margin-right:10px;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <h3 class="mb-5 text-center">티켓 관리</h3>

    <div class="form-inline d-flex justify-content-center" th:object="${ticketSearchDto}">
        <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
            <option value="all">전체기간</option>
            <option value="1d">1일</option>
            <option value="1w">1주</option>
            <option value="1m">1개월</option>
            <option value="6m">6개월</option>
        </select>
        <select th:field="*{searchBy}" class="form-control" style="width:auto;">
            <option value="name">티켓명</option>
            <option value="createdBy">등록자</option>
        </select>

        <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
        <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
    </div>

    <form th:action="@{'/admin/tickets/' + ${tickets.number}}" role="form" method="get" th:object="${tickets}">
        <table class="table my-5">
            <thead>
                <tr>
                    <td>티켓아이디</td>
                    <td>티켓명</td>
                    <td>티켓구분</td>
                    <td>등록일</td>
                    <td>등록자</td>
                </tr>
            </thead>
            <tbody>
            <tr th:each="ticket, status: ${tickets.getContent()}">
                <td th:text="${ticket.id}"></td>
                <td>
                    <a th:href="'/admin/ticket/'+${ticket.id}" th:text="${ticket.name}"></a>
                </td>
                <td i th:text="${#temporals.format(ticket.regTime, 'MM-dd')}"></td>
                <td th:text="${ticket.createdBy}"></td>
            </tr>
            </tbody>
        </table>

<!--        현재페이지-->
        <div class="d-flex justify-content-center my-3" th:if="${!tickets.isEmpty()}">
            <ul class="pagination justify-content-center">
                <!-- 이전 버튼 -->
                <li class="page-item" th:classappend="${!tickets.hasPrevious()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/tickets/${tickets.number - 1}|}">
                        <span>이전</span>
                    </a>
                </li>

                <!-- 페이지 번호 -->
                <li th:each="page: ${#numbers.sequence(0, tickets.totalPages - 1)}"
                    th:if="${page >= tickets.number - 2 and page <= tickets.number + 2}"
                    th:classappend="${page == tickets.number} ? 'active'" class="page-item">
                    <a th:text="${page + 1}" class="page-link" th:href="@{|/tickets/${page}|}"></a>
                </li>

                <!-- 다음 버튼 -->
                <li class="page-item" th:classappend="${!tickets.hasNext()} ? 'disabled'">
                    <a class="page-link" th:href="@{|/tickets/${tickets.number + 1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>

    </form>

</div>
</html>
