<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<!-- css -->
<th:block layout:fragment="css">
    <style>
        /* 테이블과 h3 사이에 간격을 주는 CSS */
        .reviewContainer >.row {
            margin-top: 30px; /* 필요에 따라 조정하세요 */
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function() {
            const page_elements = document.querySelectorAll('.page-link');
            page_elements.forEach(function(element) {
                element.addEventListener('click', function(event) {
                    event.preventDefault();
                    const page = this.dataset.page;
                    const form = document.createElement('form');
                    form.method = 'GET';
                    form.action = '/review/board/list';
                    form.innerHTML = '<input type="hidden" name="page" value="' + page + '">';
                    document.body.appendChild(form);
                    form.submit();
                });
            });

            const reviewLinks = document.querySelectorAll('.card-link');
            reviewLinks.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    const reviewId = this.getAttribute('data-id');
                    fetch(`/review/board/detail/modal/${reviewId}`)
                        .then(response => response.json())
                        .then(data => {
                            const modalContent = document.querySelector('#reviewDetailModal .modal-body');
                            modalContent.innerHTML = `
                                <h5>${data.subject}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">${data.author.nickname}</h6>
                                <div style="height: 300px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                    <img src="${data.imageUrl ? data.imageUrl : '/img/logo/placeholder.png'}" class="img-fluid rounded" style="max-width: 100%; max-height: 100%; object-fit: contain;">
                                </div>
                                <p class="card-text" style="color: black;">
                                    조회수: ${data.count}<br>
                                    등록일: ${new Date(data.createDate).toLocaleString()}<br>
                                    내용: ${data.content}<br>
                                    추천수: ${data.voter.length}
                                </p>
                            `;
                            const modal = new bootstrap.Modal(document.getElementById('reviewDetailModal'));
                            modal.show();

                            // 모달 닫힘 이벤트 핸들러 추가
                            document.getElementById('reviewDetailModal').addEventListener('hidden.bs.modal', function () {
                                document.querySelector('.modal-backdrop').remove();
                            });
                        })
                        .catch(error => console.error('Error loading modal content:', error));
                });
            });
        });
    </script>
</th:block>

<div layout:fragment="content">
    <h3 class="mb-5 text-center">리뷰 게시판</h3>
    <div class="row my-3">
        <form th:action="@{/review/board/list}" method="get" class="col-6">
            <div class="input-group mb-3">
                <select class="form-select" name="sort">
                    <option value="date" th:selected="${sort == 'date'}">등록일순</option>
                    <option value="votes" th:selected="${sort == 'votes'}">추천순</option>
                    <option value="views" th:selected="${sort == 'views'}">조회순</option>
                </select>
                <input type="text" class="form-control" placeholder="검색어 (최소 2글자 이상)" name="kw" th:value="${kw}">
                <button class="btn btn-outline-secondary" type="submit">검색</button>
            </div>
        </form>
    </div>
    <hr class="my-4">
    <!--    등록버튼-->
    <div class="col-6 reviewContainer">
        <a th:href="@{/review/board/orderCheck}" class="btn btn-primary mb-4">리뷰 등록하기</a>
    </div>
    <div class="row">
        <div th:each="reviewBoard, iterStat : ${paging}" class="col-md-4 mb-4">
            <a href="#" class="card h-100 card-link" data-bs-toggle="modal" data-bs-target="#reviewDetailModal" th:attr="data-id=${reviewBoard.id}">
                <div class="card-body d-flex flex-column justify-content-between">
                    <h5 class="card-title" th:text="${reviewBoard.subject}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${reviewBoard.author.nickname}"></h6>

                    <!-- 이미지 표시 -->
                    <div class="mb-3" style="height: 300px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                        <img th:if="${reviewBoard.getFirstImageUrl() != null and #strings.length(reviewBoard.getFirstImageUrl()) > 0}"
                             th:src="${reviewBoard.getFirstImageUrl()}"
                             class="card-img-top img-fluid rounded"
                             style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        <img th:if="${reviewBoard.getFirstImageUrl() == null or #strings.length(reviewBoard.getFirstImageUrl()) == 0}"
                             th:src="@{/img/logo/placeholder.png}"
                             class="card-img-top img-fluid rounded"
                             style="max-width: 100%; max-height: 100%; object-fit: contain;">
                    </div>

                    <!-- 기타 정보 표시 -->
                    <p class="card-text" style="color: black;">
                        조회수: <span th:text="${reviewBoard.count}"></span><br>
                        등록일: <span th:text="${#temporals.format(reviewBoard.createDate, 'yyyy-MM-dd HH:mm')}"></span><br>
                        추천수: <span th:text="${#lists.size(reviewBoard.voter)}">0</span>
                    </p>
                </div>
            </a>
        </div>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.empty}" class="pagination-container justify-content-center">
        <ul class="pagination pagination-sm">
            <li class="page-item" th:classappend="${paging.first} ? 'disabled'">
                <a class="page-link" href="#" th:attr="data-page=${paging.number - 1}" aria-label="Previous">
                    <span aria-hidden="true"></span>
                    <span class="sr-only">&laquo;</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages - 1)}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page + 1}" class="page-link" href="#" th:attr="data-page=${page}"></a>
            </li>
            <li class="page-item" th:classappend="${paging.last} ? 'disabled'">
                <a class="page-link" href="#" th:attr="data-page=${paging.number + 1}" aria-label="Next">
                    <span aria-hidden="true"></span>
                    <span class="sr-only">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->

    <!-- 모달 -->
    <div class="modal fade" id="reviewDetailModal" tabindex="-1" role="dialog" aria-labelledby="reviewDetailModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewDetailModalLabel">리뷰 상세 정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 모달 내용은 AJAX 요청을 통해 동적으로 로드됩니다 -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--&lt;!&ndash; Bootstrap JS 추가 (필요시) &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->

</html>
