<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div layout:fragment="content" class="container my-3">
    <h2>리뷰 게시판</h2>
    <div class="row my-3">
        <div class="col-6">
            <a th:href="@{/review/board/create}" class="btn btn-primary">리뷰 등록하기</a>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <form th:action="@{/review/board/list}" method="get" class="d-flex">
                    <div class="input-group mb-3">
                        <select class="form-select" name="sort" style="max-width: 150px;">
                            <option value="date" th:selected="${sort == 'date'}">등록일순</option>
                            <option value="votes" th:selected="${sort == 'votes'}">추천순</option>
                            <option value="views" th:selected="${sort == 'views'}">조회순</option>
                        </select>
                        <input type="text" class="form-control" placeholder="검색어" name="kw" th:value="${kw}" style="max-width: 150px;">
                        <button class="btn btn-outline-secondary" type="submit">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <!-- 리뷰 보드 카드 영역 -->
        <th:block th:each="reviewBoardForm : ${reviewBoardForms}">
            <div class="col-md-4 margin">
                <a th:href="@{|/review/board/detail/${reviewBoardForm.id}|}" class="text-dark">
                    <div th:if="${not #lists.isEmpty(reviewBoardForm.reviewImgDtoList)}" class="text-center">
                        <img th:src="${reviewBoardForm.reviewImgDtoList[0].imgUrl}"
                             class="card-img-top"
                             th:alt="${reviewBoardForm.subject}"
                             style="width: 350px; height: 400px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" th:text="${reviewBoardForm.subject}"></h4>
                        <p class="card-text">작성자: <span th:text="${reviewBoardForm.author.nickname}"></span></p>
                        <p class="card-text">조회수: <span th:text="${reviewBoardForm.count}"></span></p>
                        <p class="card-text">추천수: <span th:text="${#lists.size(reviewBoardForm.voter)}"></span></p>
                    </div>
                </a>
            </div>
        </th:block>
    </div>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}" class="pagination-container justify-content-center">
        <ul class="pagination pagination-sm">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- 페이징처리 끝 -->
    <form th:action="@{/review/board/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
</div>
<!--스크립트-->
<script layout:fragment="script" type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function() {
        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });
        const btn_search = document.getElementById("btn_search");

        if (btn_search) {
            btn_search.addEventListener('click', function() {
                document.getElementById('kw').value = document.getElementById('search_kw').value;
                document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
                document.getElementById('searchForm').submit();
            });
        }
    });
</script>

</html>
